* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #0B0C10;
  height: 100px;
  width: 100%;
}
.sidebar {
  background-color: #45A29E;
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(95vh - 140px); /* рассчитываем высоту с учетом отступов */
}
.content {
  margin-left: 220px; /* учитываем ширину sidebar и отступы */
  margin-top: 20px;
  padding: 20px;
}
footer {
  background-color: #1F2833;
  clear: both;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.logo {
    color: #66FCF1
}
.description {
    color: #FFFFFF
}
a.sideleft:hover{
    colr: #C5C6C7
}